<p-progressSpinner class="spinner" *ngIf='!dataSource'></p-progressSpinner>

<!-- <app-pop (newCustomerData)='cetchNewCustomer($event)'></app-pop> -->

<!-- <app-new-customer [customerToEdit]='customerToEdit' name='customerToEdit' (newCustomerData)='cetchNewCustomer($event)' *ngIf='newCustomer'></app-new-customer> -->
<!-- Pop up msg -->
<p-growl [(value)]="msgs"></p-growl>
<!-- // -->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.company_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="NAME">
    <th mat-header-cell *matHeaderCellDef> NAME</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="ADRRESS">
    <th mat-header-cell *matHeaderCellDef> ADRRESS</th>
    <td mat-cell *matCellDef="let element"> {{element.Adrress}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="COUNTRY">
    <th mat-header-cell *matHeaderCellDef>COUNTRY </th>
    <td mat-cell *matCellDef="let element"> {{element.Country}} </td>
  </ng-container>

 
  <ng-container matColumnDef="ACTION">
    <th mat-header-cell *matHeaderCellDef> ACTION </th>
    <td mat-cell *matCellDef="let element">
      <button (click)='submitDelete(element.customer_id)' mat-button>
        <i class="material-icons">
          remove_circle
        </i>
      </button>

      <!-- <app-pop-edit (editCustomerData)='submitEditCustomer( element.customer_id, $event)'></app-pop-edit> -->
      <!-- <button mat-button (click)='submitEdit(element)'>edit </button> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>