<div class="header">
    <button mat-button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show">
        <i class="material-icons">
            branding_watermark
        </i>
    </button>
    <span class="headerTitle">{{navHeader}}</span>
</div>

<p-sidebar [(visible)]="display">
    <div class="tabNav">
        <button mat-button (click)='menuClick("customer")'>
            <i class="material-icons">
                call_to_action
            </i>  Customers</button>
        <br>
        <button mat-button (click)='menuClick("company")'>
            <i class="material-icons">
                call_to_action
            </i>  Companys</button>
        <br>
        <button mat-button (click)='menuClick("comments")'>
            <i class="material-icons">
                call_to_action
            </i>  Comments</button>
        <br>
        <button mat-button (click)='menuClick("all")'>
            <i class="material-icons">
                call_to_action
            </i>  Show All Tables</button>

    </div>

</p-sidebar>