.nav{
    background-color: antiquewhite;
    height: 100px;
}
.CreatCustomer{
    margin-left: 90%;   
    display: inline-block;
}
.ExportToCSV{
    margin-left: 80%;
    display:inline-block;
    
}