<div class="addNewCustomer">
  <p>
    <mat-form-field appearance="outline">
      <mat-label> First Name</mat-label>
      <input [(ngModel)]='firstName' name='firstName' matInput placeholder="First Name" value=" ">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]='lastName' name='lastName' matInput placeholder="Last Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input [(ngModel)]='email' name='email' matInput placeholder="Email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input [(ngModel)]='phoneNumber' name='phoneNumber' matInput placeholder="Phone Numbe">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Company ID</mat-label>
      <input [(ngModel)]='companyID' name='companyID' matInput placeholder="Company ID">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>
  <button (click)='submitAddCustomer()' mat-button>Submit</button>
</div>